################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/lab4/dfgfd/.vs/dfgfd/v16/Preview/Browse.VC.db
